html{
	height: 100%;
}
body *{
	box-sizing: border-box;
}
.coinKing{
	height: 100%;
	width: 100%;
	margin: 0px;
	background-image: url("https://media.coindesk.com/uploads/2017/07/Screen-Shot-2017-07-06-at-4.49.31-PM.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.title{
	height:150px;
	width: 90%;
	margin: auto;
	padding-top: 30px;
}
.applicationTitle{
	font-family: 'Poppins', sans-serif;
	font-size: 50px; 
	margin: 0px;
	color: white;
	text-align: center;
	font-weight: bold; 
	letter-spacing: 30px;
}
.messageContainer{
	height: 220px;
	width: 70%;
	margin: auto;
	overflow: hidden;
	position: relative;

}
.messageContainer.modifier .messageOne{
	top: -100%;
}
.messageContainer.modifier .messageTwo{
	top: 0;
}
.messageOne{
	width: 100%;
	top: 0;
	transition: top 1s;
	font-size: 30px; 
	color:white;
	text-align: center;
	font-weight: bold; 
	font-family: 'Poppins', sans-serif;
	background-color: #333333;
	position: absolute;	
	left: 0px;	
}
.messageTwo{
	width: 100%;
	font-size: 30px;
	top: 100%; 
	transition: top 1s;
	color:white;
	text-align: center;
	font-weight: bold; 
	font-family: 'Poppins', sans-serif;
	position: absolute;	
	background-color: #333333;
	left: 0px;
}
.js-container{
	width: 90%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}
.js-search-form{
	width: 60%;
	position: relative;
	float: left;
}
.tickerSymbolInput{
	border:none;
	position: relative;
	top:6px;
	background-color: transparent;
	border-bottom: solid #03D303;
	width: 250px;
	color: #03D303;
	height: 43px;
	overflow: hidden;
	border-bottom-width: 5px;
	font-size: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.searchSymbol{
	box-sizing: border-box;
	position: relative;
	top: 17px;
	text-align: center;
	display: inline-block;
	background-color: transparent;
	border-color: #03D303;
	color: #03D303;
	border-width: 5px;
	height: 50px;
	font-size: 50px;
	width: 120px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	overflow: hidden;
}
.js-search-results{
	height:180px;
	width: 40%;
	padding-right: 40px;
	background-color: #333333;
	color: #03D303;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	list-style-type: none;
	list-style: none;
	display: none;
	text-align: center;
	justify-content:center;
	align-items:center;
	border-radius: 25px;
	float: left;
}
footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.currencyList{
	height:120px;
	padding: 20px;
	width: 100%;
	margin: 0px;
	background-color: #333333;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: bold; 
	columns: 4;
	list-style: none;
}
@media screen and (max-width: 1000px){
	.js-search-form, .js-search-results{
		float: none;
		width: 100%;
	}
	.messageOne, .messageTwo{
		font-size: 20px;
	}
}