html{
	height: 100%;
}
body *{
	box-sizing: border-box;
}
.coinKing{
	height: 100%;
	width: 100%;
	margin: 0px;
	background-image: url("https://bitboii.com/static/media/carousel_bg_1.dc258645.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.title{
	height:150px;
	width: 90%;
	margin: auto;
	padding-top: 30px;
}
.applicationTitle{
	font-family: 'Poppins', sans-serif;
	font-size: 50px; 
	margin: 0px;
	color: white;
	text-align: center;
	font-weight: bold; 
	letter-spacing: 30px;
}
.messageContainer{
	height: 220px;
	width: 70%;
	margin: auto;
	overflow: hidden;
	position: relative;

}
.messageContainer.modifier .messageOne{
	top: -100%;
}
.messageContainer.modifier .messageTwo{
	top: 0;
}
.messageOne{
	width: 100%;
	top: 0;
	transition: top 1s;
	font-size: 30px; 
	color:white;
	text-align: center;
	font-weight: bold; 
	font-family: 'Poppins', sans-serif;
	background-color: #091C2B;
	position: absolute;	
	left: 0px;	
}
.messageTwo{
	width: 100%;
	font-size: 30px;
	top: 100%; 
	transition: top 1s;
	color:white;
	text-align: center;
	font-weight: bold; 
	font-family: 'Poppins', sans-serif;
	position: absolute;	
	background-color: #091C2B;
	left: 0px;
}
.js-container{
	width: 90%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}
.js-search-form{
	width: 60%;
	position: relative;
	float: left;
}
.tickerSymbolInput{
	border:none;
	position: relative;
	top:6px;
	background-color: transparent;
	border-bottom: solid #FFCA00;
	width: 250px;
	color: #FFCA00;
	height: 43px;
	overflow: hidden;
	border-bottom-width: 5px;
	font-size: 40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.searchSymbol{
	box-sizing: border-box;
	position: relative;
	top: 17px;
	text-align: center;
	display: inline-block;
	background-color: #091C2B;
	border-color: #FFCA00;
	color: #FFCA00;
	border-width: 5px;
	height: 50px;
	font-size: 50px;
	width: 120px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	overflow: hidden;
	transition: all .5s;
}
.searchSymbol:hover{
	background-color: #FFCA00;
	color: #091C2B;
}
.js-search-results{
	padding: 20px;
	width: 40%;
	background-color: #091C2B;
	color: #FFCA00;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	list-style-type: none;
	list-style: none;
	display: none;
	text-align: center;
	justify-content:center;
	align-items:center;
	border-radius: 25px;
	float: left;
}
footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #091C2B;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	padding: 20px;
}
.currencyList{
	width: 100%;
	margin: 0px;
	background-color: #091C2B;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: bold; 
	columns: 4;
	list-style: none;
	padding: 0px;
}
.currencyList li{
	cursor: pointer;
}
@media screen and (max-width: 1000px){
	.applicationTitle{
		font-size: 40px;
		text-align: center;
		letter-spacing: 0px;

	}
	.js-search-form, .js-search-results{
		float: none;
		width: 100%;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.js-container{
		margin-top: 0px; 
	}
	.messageContainer{
		height: 110px;
	}
	.messageOne, .messageTwo{
		font-size: 16px;
	}
	.tickerSymbolInput{
		display: block;
		margin: auto;
	}
	.searchSymbol{
		font-size: 25px;
		height:35px;
		display:block;
		margin: auto;
	}
	.footerMessage{
		text-align: center;
	}
}
@media screen and (max-width:400px) {
	.title{
		height: 90px;
	}
	.messageOne, .messageTwo{
		font-size: 13px;
	}
	.messageContainer{
		width:90%;
	}
	.js-search-results{
		font-size: 13px;
	}
	.currencyList, .footerMessage{
		font-size: 13px;
	}
}